* {
  margin: 5px;
  padding: 1px;
  background: none;
  border: none;
  font-family: Inter, Impact;
}

/* Style headings */

h2 {
  text-align: center;
  padding-bottom: 5px;
}

h3 {
  padding: 1em 0;
}

input[type=text], input[type=email], input[type=number] {
  background-color: #fff;
}


textarea {
  background: rgba(25,74,122,0.5);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px #a3b7ca;
}

/* Normal size container*/
body {
  max-width: 800vw;
  margin: 0 auto;
  color: #d1dbe4;
  background-color: #476f95;;
}

section {
  display:border-box;
  border: 1px solid lightsteelblue;
  margin: 1px ;
}

/* Navbar section*/
.navbar {
  margin: 0 auto;
  width: 60vw;
  outline: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  background-color: #d1dbe4;
}

/* Profile Section w/ image */
#profile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#profile h1 {
  align-self: center;
}

#profile p {
  align-self: flex-end;

}

#profile img {
  border-radius: 50%;
  /* border: 8px solid rgba(98, 30, 171, 0.5); */
  width: 13%;
}

/* Form Elements */
form * {
  margin: 10px;
  outline: none;
}

form button:hover {
  border:5px solid  #476f95;
  border-radius: 12%;
  background-color: white;
}


/* Media Query for screens starting at 480px */

@media screen and (max-width:480px) {
  body {
    background-color: white;
  }

   #profile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  #summary p {
    font-size: 14px;
    margin: 4%;
  }

  #techstack {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .mobile-none {
    display: none;
  }

  #techstack h3 {
    align-self: center;
    padding: 0
  }

  #techstack table {
    width: 80%;
    margin: 0 auto;
  }

  #techstack tbody {
    width: 100%;
    position: relative;
    left: 51%;
    height: 75px;
    display: table;
  } 
}